.body{
		width:100%;
		height:100%;
		background-image: url(backImg.jpg);
		background-repeat:no-repeat;
		background-size :cover;
		background-position: center top;
		background-color:black;
		overflow-x:hidden;
		display:block;
		opacity:0.9;
		filter:alpha(opacity=90);
		position:relative;
	}
	.mid{
		width:21%;
		min-width: 387px;
		height:240px;
		margin:0 auto;
		background-color:white;
		padding-bottom:40px;	
		opacity:0.8;
		filter:alpha(opacity=90);
		margin-top:120px;	
	}
	.mid2{
		height:206px;
	}
	.mida{
		width:100%;
		height:60px;
		margin-left:0px;
		background-color:#438eb9;
		text-align:center;
		line-height:60px;
		
	}
	
	.midbzi{
		width:100%;
		height:50px;
		margin-left:0px;
		text-align:center;
		line-height:60px;
		margin-top:10px;
		color:#4589ae;
		
	}
	
	.midb{
		width:100%;
		height:50px;
		margin-left:0px;
		text-align:center;
		line-height:75px;
		margin-top:10px;
		color:#4589ae;
		font-size:32px;
		
	}
	.midb .midb1{
		color:#6a5acd;
		font-size:52px;
	}
	.input_1{
		width:80%;
		height:30px;
		margin-left:10%;
		text-indent:2em;
		line-height:40px;
		margin-top:0px;
		
	}
	input:focus{
		outline:none; 
		border:1px solid #4589ae;
		box-shadow:0px 0px 3px #000 inset;
	}
	.midc{
		width:80%;
		height:35px;
		margin-left:10%;
		margin-top:10px;
		background-color:4589ae;
		text-align:center;
		line-height:35px;
		margin-top:40px;
		cursor:pointer;
	}
	#button_a:hover{
		outline:none; 
		border:1px solid #4589ae;
		box-shadow:0px 0px 3px #111 inset;
	}
	span {
                color: #8600FF;
    }
	.zi{
		color:#AE57A4;
		font-weight:bold;
	}
